@model RoseMakerSpace.Models.StudentModel
@{
    ViewBag.Title = "Edit a Student";
}

<h2>Edit Student</h2>
@using (Html.BeginForm("EditSkill", "Student", FormMethod.Post))
{
    @Html.HiddenFor(m => m.StudentID);
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4">
            @Html.LabelFor(m => m.student.FirstName, new { @class = "col-lg-12 col-xs-12" })
            <div class="col-lg-12">
                @Html.TextBoxFor(m => m.student.FirstName, new { @class = "col-lg-12 col-xs-12" })
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
            @Html.LabelFor(m => m.student.LastName, new { @class = "col-lg-12 col-xs-12" })

            <div class="col-lg-12">
                @Html.TextBoxFor(m => m.student.LastName, new { @class = "col-lg-12 col-xs-12" })
            </div>
        </div>
        <div class="col-lg-4">
            @Html.ActionLink("Reset Password", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-default"})
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4">
            @Html.LabelFor(m => m.student.StudentID, new { @class = "col-lg-12" })
            <div class="row col-lg-12">
                <div class="col-lg-12">
                    @Html.TextBoxFor(m => m.student.StudentID, new { @class = "col-lg-12" })
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
            @Html.LabelFor(m => m.student.Email, new { @class = "col-lg-12" })
            <div class="row col-lg-12">
                <div class="col-lg-12">
                    @Html.TextBoxFor(m => m.student.Email, new { @class = "col-lg-12" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h3>Skills</h3>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h4>Possible Skills</h4>
                @Html.ListBoxFor(m => m.skills.selectedSkills, Model.skills.Skills, new { @class = "col-lg-12" })
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="text-align:center;">
                <br /><br />
                <input type="submit" value=">>" name="btnSubmit" />
                <br /><br />
                <input type="submit" value="<<" name="btnSubmit" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h4>Your Skills</h4>
                @Html.ListBoxFor(m => m.skills.selectedSkillsToRemove, Model.skills.CurrentSkills, new { @class = "col-lg-12" })
            </div>
        </div>
    </div>

    <br />
    <br />
    <input type="submit" value="Submit" name="btnSubmit" />
}