@model RoseMakerSpace.get_Student_ByEmailResult

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>Student Information for @(Model.FirstName+" "+Model.LastName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassYear)
        </dd>

    </dl>
</div>